<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
<script src="https://cdn.staticfile.org/vue/3.2.36/vue.global.min.js"></script>
</head>
<body>

<div id="hello-vue">
  <button @click="xiaoshi"><p>切换语句</p></button>
    <div v-if="showMessage" class="lingyi">
      <div>
      <img src="/img/2.png" alt="" width= 320>
      <p>啊对对对</p>
      <img src="/img/2.png" alt="" width= 320>
      <p>啊对对对</p>
      <img src="/img/2.png" alt="" width= 320>
      <p>啊对对对</p>
    </div>
    </div>
    <!-- <a href="#"  @click="xiaoshi" v-if="showMessage>啊啊啊</a> -->
    <div v-else>
      <img src="/img/2.png" alt="" width="320">
      <p class="new xiao">啊对对对111111</p>
      <img src="/img/2.png" alt="" width= 320>
      <p>啊对对对</p>
      <img src="/img/2.png" alt="" width= 320>
      <p>啊对对对</p>
    </div>
</div>

<script src="vue的尝试.js"></script>
</body>
</html>